--- 
// Largely inspired by hyrtracer.ink because i'm a lazy af to do frontend
---

<html lang="en" class="astro-DGCEZM4M">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#C1DBE3">
        <meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
				<link rel="icon" href="/me.webp" type="image/x-icon">
				<meta name="generator" content="Astro v1.1.6">

				<title>@helife</title>
				<meta name="title" content="@helife">
				<meta name="description" content="Web offensive security enjoyer and absolute real gamer.">
        <meta name="keywords" content="helife webpage">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="revisit-after" content="12 days">
        <meta name="author" content="Helife">

        <link id="theme-stylesheet" rel="stylesheet" href="/98.css">

        
		    <link rel="stylesheet" href="/template.css" />

				<script type="module">
						const u=document.getElementById("theme-switcher-select"),s=document.getElementById("theme-stylesheet"),c=s.href.split("/"),h=c[c.length-1];i(h);function i(e){s.href=e}u.addEventListener("change",e=>i(e.target.value));const o=document.querySelectorAll("menu[role=tablist]");for(let e=0;e<o.length;e++){const t=o[e],l=t.querySelectorAll("menu[role=tablist] > button");l.forEach(n=>n.addEventListener("click",r=>{r.preventDefault(),l.forEach(a=>{a.getAttribute("aria-controls")===r.target.getAttribute("aria-controls")?(a.setAttribute("aria-selected",!0),d(r,t)):a.setAttribute("aria-selected",!1)})}))}function d(e,t){t.parentNode.querySelectorAll('[role="tabpanel"]').forEach(r=>{r.setAttribute("hidden",!0)}),t.parentNode.querySelector(`[role="tabpanel"]#${e.target.getAttribute("aria-controls")}`).removeAttribute("hidden")}
				</script>
		</head>

		  <div class="contain astro-DGCEZM4M">
            <div class="window astro-DGCEZM4M" style="width: 790px !important; margin-right: 15px !important;" id="window">
                <div class="title-bar astro-DGCEZM4M" id="windowdrag">
                    <div class="title-bar-text astro-DGCEZM4M">
                        <img src="theme.png" width="11" class="astro-DGCEZM4M"> Segmentation fault (core dumped)
                    </div>
                    <div class="title-bar-controls astro-DGCEZM4M" style="z-index: 2;">
                        <button aria-label="Minimize" class="astro-DGCEZM4M"></button>
                        <button id="max" aria-label="Maximize" class="astro-DGCEZM4M"></button>
                        <button aria-label="Close" class="astro-DGCEZM4M"></button>
                    </div>
                </div>
                <div class="window-body astro-DGCEZM4M">
                    <div class="wrapper astro-DGCEZM4M">
                        <pre class="astro-DGCEZM4M">
__/\\\________/\\\_________________/\\\\\\_________________/\\\\\________________        
 _\/\\\_______\/\\\________________\////\\\_______________/\\\///_________________       
  _\/\\\_______\/\\\___________________\/\\\_____/\\\_____/\\\_____________________      
   _\/\\\\\\\\\\\\\\\_____/\\\\\\\\_____\/\\\____\///___/\\\\\\\\\_______/\\\\\\\\__     
    _\/\\\/////////\\\___/\\\/////\\\____\/\\\_____/\\\_\////\\\//______/\\\/////\\\_    
     _\/\\\_______\/\\\__/\\\\\\\\\\\_____\/\\\____\/\\\____\/\\\_______/\\\\\\\\\\\__   
      _\/\\\_______\/\\\_\//\\///////______\/\\\____\/\\\____\/\\\______\//\\///////___  
       _\/\\\_______\/\\\__\//\\\\\\\\\\__/\\\\\\\\\_\/\\\____\/\\\_______\//\\\\\\\\\\_ 
        _\///________\///____\//////////__\/////////__\///_____\///_________\//////////__
                					</pre>
													<div style="text-align: center; font-size: larger;" class="astro-DGCEZM4M">
															<p class="astro-DGCEZM4M">
                              	Hello ! It's Helife I'm basically a software developer with interests in maths, game programming, security and DevOps.
																<br class="astro-DGCEZM4M">
																You may find things that could interest you about me there.
                            	</p>
															<br class="astro-DGCEZM4M">
                        	</div>
                    	</div>
									</div>
</html>